* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  font-family: "Exo", sans-serif;
  font-family: "Montserrat", sans-serif;
}

body {
  --text-white: #fff;
  --text-dark: #000;
  --bg-grey-light: #f5f5f5;
  --bg-white: #fff;
  --bg-blue-dark: #000;
  --bg-indigo: #6366f1;
  background-color: var(--bg-grey-light);
  transition: 0.7s;
}

.light {
  --text-white: #fff;
  --text-dark: #000;
  --bg-grey-light: #f5f5f5;
  --bg-white: #fff;
  --bg-blue-dark: #000;
  --bg-indigo: #6366f1;
}

.dark {
  --text-white: #e6e6e6;
  --text-dark: #fff;
  --bg-grey-light: #000;
  --bg-white: #000;
  --bg-blue-dark: #000;
  --bg-indigo: #7577e1;
}

.loading {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background: white;
  z-index: 999;
}
.loading img {
  width: 45%;
}

.hidden {
  display: none !important;
}

.head {
  color: var(--text-dark);
  display: flex;
  justify-content: space-between;
  padding: 8px 25px;
}
.head .point {
  color: #359ce0;
}
.head .navbar {
  opacity: 0;
  animation: moveBottom 1.2s ease forwards;
}
.head .navbar_list {
  display: flex;
  -moz-column-gap: 10px;
       column-gap: 10px;
}
.head .navbar .darkLight {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: 0.5s;
}
.head .navbar .darkLight-sun {
  display: none;
}
.head .link {
  color: var(--text-dark);
}
.head .link:hover {
  color: #359ce0 !important;
}
.head .portfolio {
  opacity: 0;
  animation: moveRight 1.2s ease forwards;
}
.head .point {
  opacity: 0;
  animation: moveRight 1.2s ease forwards;
}

a:is(:active, :visited).active {
  color: #359ce0;
}

@keyframes moveRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveLeft {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes moveBottom {
  0% {
    transform: translateY(-100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}
@keyframes moveDown {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes moveTop {
  0% {
    transform: translateY(80px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
.design {
  width: 100%;
  padding: 10px;
  outline: none;
  resize: none;
  border: none;
  border-bottom: 1px solid #d3d3d3;
  background: transparent;
}

.main .container .panel {
  width: 500px;
  height: 500px;
  padding: 20px 40px;
  background: #359ce0;
  margin: 2% auto;
  border-radius: 3px;
  animation: moveLeft 1.2s ease forwards;
  opacity: 0;
}
.main .container .panel-content {
  text-align: center;
  color: var(--text-dark);
}
.main .container .panel-error {
  color: #e00707;
}
.main .container .panel-form_input[type=text]:focus {
  border-bottom: 1px solid #000;
}
.main .container .panel-form_input[type=email]:focus {
  border-bottom: 1px solid #000;
}
.main .container .panel-form_textarea:focus {
  border-bottom: 1px solid #000;
}
.main .container .panel-form_textarea:focus::-webkit-scrollbar {
  width: 2px;
}
.main .container .panel-form_textarea:focus::-webkit-scrollbar-thumb {
  background: #000;
}
.main .container .panel-form_label {
  display: block;
  margin: 15px 0;
  color: var(--text-dark);
}
.main .container .panel .sending-button {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 7px 20px;
  margin: 15px 39%;
  color: var(--text-dark);
  background: #359ce0;
  border: 1px solid var(--text-dark);
  border-radius: 3px;
  font-weight: 600;
  cursor: pointer;
}
.main .container .panel .sending-button::after, .main .container .panel .sending-button::before {
  position: absolute;
  content: "";
  width: 0;
  height: 0;
  transition: 0.5s;
}
.main .container .panel .sending-button::after {
  top: -7px;
  left: -7px;
  border-top: 2px solid transparent;
  border-left: 2px solid transparent;
  border-radius: 2px;
}
.main .container .panel .sending-button::before {
  bottom: -7px;
  right: -7px;
  border-bottom: 2px solid transparent;
  border-right: 2px solid transparent;
  border-radius: 2px;
}
.main .container .panel .sending-button:hover::after, .main .container .panel .sending-button:hover::before {
  width: calc(100% + 5px);
  height: calc(100% + 5px);
  border-color: var(--text-dark);
}
.main .container .panel .sending-success {
  color: var(--text-dark);
  text-align: center;
}/*# sourceMappingURL=contact.css.map */