// import styles
@import "../../style/_mixins.scss";
@import "../../style/_animations.scss";

// style for connection
.connection {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 0 auto;
  padding: 15px 40px;
  gap: 20px 0;

  @include mobile {
    padding: 100px 10px 70px 10px;
    gap: 30px 0;
  }

  @include tablet {
    padding: 100px 10px 70px 10px;
    gap: 30px 0;
  }

  &-title {
    font-size: 40px;
    color: #fc0;
    animation: fadeDown 1s ease;

    @include mobile {
      font-size: 34px;
    }

    @include tablet {
      font-size: 45px;
    }

    &-point {
      color: #fff;
    }
  }

  &-description {
    width: 60%;
    font-size: 22px;
    text-align: center;
    line-height: 20px;
    animation: fadeDown 1s ease;

    @include mobile {
      width: 100%;
      font-size: 18px;
    }

    @include tablet {
      width: 100%;
      font-size: 25px;
    }
  }

  &-form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px 0px 0px 0px;
    animation: fadeUp 1s ease;

    @include mobile {
      padding: 25px 0;
      gap: 10px 0;
    }

    @include tablet {
      padding: 40px 0;
      gap: 10px 0;
    }

    &-entry {
      width: 50%;
      border: none;
      border-bottom: 2px solid #fc0;
      font-size: 20px;
      outline: none;
      text-indent: 5px;
      padding: 0px 0px 5px 0px;
      color: #fff;

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      &-validations {
        width: 50%;
        height: 55px;
        padding: 15px 0px 0px 10px;

        @include mobile {
          width: 100%;
        }

        @include tablet {
          width: 100%;
        }

        &-text {
          color: #fff;
        }
      }

      &::placeholder {
        color: #fff;
      }

      &:-webkit-autofill {
        -webkit-box-shadow: 0 0 0 30px #000 inset;
        -webkit-text-fill-color: #fff;
      }
    }

    .textarea {
      height: 100px;
      resize: none;
    }

    &-submit {
      padding: 12px;
      border-radius: 15px;
      font-size: 17px;
      border: 2px solid #fc0;
      color: #fc0;
      cursor: pointer;
      transition: 0.5s ease-in-out;

      @include mobile {
        width: 100%;
      }

      @include tablet {
        width: 100%;
      }

      &:hover {
        background: #fc0 !important;
        color: #000;
      }
    }
  }
}
