// for mobile responsiveness
@media (max-width: 425px) {
  .navigate-direction-link {
    font-size: 14px !important;
  }

  .words-name {
    font-size: 40px !important;
  }

  .words-info {
    font-size: 20px !important;
  }

  .project {
    height: 810px !important;
  }
}

@media (max-width: 414px) {
  .project {
    height: 825px !important;
  }
}

@media (max-width: 400px) {
  .project {
    height: 760px !important;
  }
}

@media (max-width: 380px) {
  .navigate-direction-link {
    font-size: 13.5px !important;
  }

  .project {
    height: 585px !important;
  }
}

@media (max-width: 365px) {
  .navigate-direction-link {
    font-size: 12.5px !important;
  }

  .words-name {
    font-size: 35px !important;
  }

  .words-info {
    font-size: 20px !important;
  }

  .project {
    height: 660px !important;
  }
}
