// for mobile responsiveness
@media (max-width: 1920px) {
  #main {
    min-height: 800px;
  }

  .info {
    min-height: 800px;
    align-items: center;
    padding: 0px 25px !important;
  }

  .info-image {
    width: 30%;
    height: 450px;
  }

  .info-container-about-title {
    font-size: 50px !important;
  }

  .info-container-about-box {
    font-size: 20px !important;
  }

  .info-container-bio-title {
    font-size: 50px !important;
  }

  .info-container-bio-box {
    font-size: 20px !important;
  }

  .ability {
    min-height: 800px;
  }

  .ability-first {
    width: 48.5%;
  }

  .ability-second {
    width: 69%;
    margin-top: -105px;
  }

  .ability-third {
    width: 48.7%;
    margin-top: -105px;
  }

  .ability-fourth {
    width: 28%;
    margin-top: -98px;
  }

  .ability-fifth {
    width: 7.3%;
    margin-top: -95px;
  }

  .hexagon {
    width: 115px;
    height: 180px;
    border-radius: 15px;
  }

  .project {
    height: 800px;
  }

  .project-filter {
    top: 75px;
  }

  .connection {
    height: 800px;
    padding: 100px 10px 75px;
  }

  .connection-title {
    font-size: 45px;
  }

  .connection-description {
    font-size: 25px;
    line-height: 30px;
  }

  .notFound div {
    height: 900px !important;
  }

  .loader div {
    width: 100% !important;
    height: 900px !important;
  }
}

@media (max-width: 1700px) {
  #main {
    min-height: 550px;
  }

  .info {
    min-height: 550px;
    align-items: center;
    padding: 0px 25px !important;
  }

  .info-image {
    width: 25%;
    height: 350px !important;
  }

  .info-container-about-title {
    font-size: 40px !important;
  }

  .info-container-about-box {
    font-size: 18px !important;
  }

  .info-container-bio-title {
    font-size: 40px !important;
  }

  .info-container-bio-box {
    font-size: 18px !important;
  }

  .ability {
    min-height: 550px;
  }

  .hexagon {
    width: 80px;
    height: 130px;
    border-radius: 10px;
  }

  .ability-first {
    width: 40%;
  }

  .ability-second {
    width: 57%;
    margin-top: -80px;
  }

  .ability-third {
    width: 39.8%;
    margin-top: -75px;
  }

  .ability-fourth {
    width: 23%;
    margin-top: -75px;
  }

  .ability-fifth {
    width: 5.5%;
    margin-top: -65px;
  }

  .project {
    height: 550px;
  }

  .project-filter {
    top: 90px;
  }

  .connection {
    height: 100%;
    padding: 15px 40px;
  }

  .connection-title {
    font-size: 35px;
  }

  .connection-description {
    font-size: 22px;
    line-height: 20px;
  }

  .notFound div {
    width: 100%;
    height: 710px !important;
  }

  .loader div {
    width: 100% !important;
    height: 720px !important;
  }
}

@media (max-width: 768px) {
  .info {
    flex-direction: column;
    align-items: center;
    gap: 50px 0px;
    padding: 100px 10px 70px 10px !important;
  }

  .info-image {
    width: 50%;
  }

  .ability {
    height: 865px;
    padding: 100px 15px 70px 15px;
    -webkit-tap-highlight-color: transparent;
  }

  .ability-first {
    width: 69%;
  }

  .ability-second {
    width: 98%;
    margin-top: -45px;
  }

  .ability-third {
    width: 69%;
    margin-top: -45px;
  }

  .ability-fourth {
    width: 40%;
    margin-top: -45px;
  }

  .ability-fifth {
    width: 11.5%;
    margin-top: -30px;
  }

  .project {
    width: 100%;
    height: 865px;
    padding: 100px 0 30px 0;
  }

  .project-filter {
    height: 5%;
    justify-content: center;
    top: 85px;
  }

  .connection {
    padding: 100px 10px 70px;
    gap: 30px 0;
  }

  .connection-title {
    font-size: 45px;
  }

  .connection-description {
    width: 100%;
    font-size: 25px;
  }

  .connection-form {
    padding: 40px 0;
    gap: 10px 0;
  }

  .connection-form-entry {
    width: 100%;
  }

  .loader div {
    height: 90vh !important;
  }

  .notFound div {
    height: 90vh !important;
  }
}

@media (max-width: 425px) {
  .navigate-direction-link {
    font-size: 14px !important;
  }

  .words-name {
    font-size: 40px !important;
  }

  .words-info {
    font-size: 20px !important;
  }
}

@media (max-width: 380px) {
  .navigate-direction-link {
    font-size: 13.5px !important;
  }
}

@media (max-width: 365px) {
  .navigate-direction-link {
    font-size: 12.5px !important;
  }

  .words-name {
    font-size: 35px !important;
  }

  .words-info {
    font-size: 20px !important;
  }
}
