// import styles
@import "../../style/_mixins.scss";
@import "../../style/_animations.scss";

// style for ability
.ability {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  padding: 40px 0px;

  @include mobile {
    height: 845px !important;
    padding: 100px 15px 70px 15px !important;
    -webkit-tap-highlight-color: transparent;
  }

  &-first {
    width: 40%;
    display: flex;
    justify-content: space-between;
    background: transparent;
    animation: matrix 6s ease;

    @include mobile {
      width: 72% !important;
    }
  }

  &-second {
    width: 57%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: transparent;
    margin-top: -80px;
    animation: matrix 7s ease;

    @include mobile {
      width: 100% !important;
      margin-top: -5px !important;
    }
  }

  &-third {
    width: 39.8%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: -75px;
    animation: matrix 8s ease;

    @include mobile {
      width: 71% !important;
      margin-top: -5px !important;
    }
  }

  &-fourth {
    width: 23%;
    display: flex;
    justify-content: space-between;
    background-color: transparent;
    margin-top: -75px;
    animation: matrix 9s ease;

    @include mobile {
      width: 71% !important;
      margin-top: -5px !important;
    }
  }

  &-fifth {
    width: 5.5%;
    background-color: transparent;
    margin-top: -65px;
    animation: matrix 10s ease;

    @include mobile {
      width: 17% !important;
      margin-top: -98px !important;
    }
  }
}

// style for hexagon
.hexagon {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 130px;
  background: #fff;
  border-radius: 10px;
  transition: all 0.5s ease;
  margin: 1% 4%;
  z-index: 1;

  @include mobile {
    width: 60px !important;
    height: 95px !important;
  }

  &-image {
    position: absolute;
    width: 75px;
    z-index: 1;
    background: transparent;

    @include mobile {
      width: 50px;
    }
  }
}

.hexagon::before,
.hexagon::after {
  content: "";
  position: absolute;
  width: inherit;
  height: inherit;
  background: inherit;
  border-radius: inherit;
}

.hexagon::before {
  transform: rotate(60deg);
}

.hexagon::after {
  transform: rotate(-60deg);
}

.hexagon:hover {
  transform: scale(1.3);
  cursor: pointer;
  box-shadow: 0 0 15px 0 #fc0;
}
